# Q1.

In [1]:
def fact(x):
    s = 1
    for i in range(1,x+1,1):
        s = s*i
    return s

In [2]:
fact(4)

24

In [3]:
fact(5)

120

In [6]:
def fact1(x):
    s = 1
    while x:
        s = s*x
        x -= 1
    return s

In [7]:
fact1(4)

24

In [8]:
fact1(5)

120

# Q2.

In [9]:
def sqr(x):
    return x*x

In [10]:
sqr(5)

25

In [11]:
def s_sqr(a,b,c):
    return sqr(a)+sqr(b)+sqr(c)

In [12]:
s_sqr(1,2,3)

14

In [13]:
s_sqr(3,4,5)

50

# Q3.

In [16]:
def num(x):
    print('Natural numbers which are divisible by 3, divisible by 5 but not divisile by 10 under',x,'are:')
    for i in range(1,x,1):
        if (i%3==0 and i%5==0 and i%10!=0):
            print(i)

In [17]:
num(50)

Natural numbers which are divisible by 3, divisible by 5 but not divisile by 10 under 50 are:
15
45

# Q4.

In [23]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
list2 = []
print('The list of numbers from the given list which are even are:')
for i in list1:
    if i%2==0:
        list2.append(i)
print(list2)

The list of numbers from the given list which are even are:
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]