# Using SQLite

In [1]:
import sqlite3

In [2]:
# Create a database in RAM
db = sqlite3.connect(':memory:')

In [3]:
# Creates or opens a file called mydb with a SQLite3 DB
db = sqlite3.connect('TestDB')

In [4]:
# To close the connection
db.close()

In [5]:
## CREATe TABLE
# Get a cursor object
cur = db.cursor()

ProgrammingError: Cannot operate on a closed database.

# Creat DATABASE

In [6]:
db = sqlite3.connect('MyDB')

# Get a cursor object
cur = db.cursor()

In [7]:
# Drop table if it already exist using execute() method.

if cur.execute("DROP TABLE IF EXISTS custs"):
    print('Drop command successful')

Drop command successful

In [8]:
# Create Table

if cur.execute('CREATE TABLE custs(id INTEGER PRIMARY KEY, name TEXT, phone TEXT, email TEXT unique, course TEXT)'):
    print('Table Created')

Table Created

In [12]:
db.commit()

ProgrammingError: Cannot operate on a closed database.

In [13]:
cur.close()

ProgrammingError: Cannot operate on a closed database.

In [14]:
db.close()

# Next Example

In [16]:
## Insert ##
db = sqlite3.connect('MyDB')

# Get a cursor object
cur = db.cursor()

In [17]:
# Insert into custs

if cur.execute('INSERT INTO custs(name,course) VALUES (?,?)',('Anup','Python')):
    print('1 Record INserted Successfully')

1 Record INserted Successfully

In [18]:
if cur.execute('INSERT INTO custs(name,course) VALUES (?,?)',('Swaroop','Hadoop')):
    print('2 Record INserted Successfully')

2 Record INserted Successfully

In [19]:
# Insert into custs fron Dictionary

if cur.execute('INSERT INTO custs(name,course) VALUES (:name,:course)',{'name':'Vishal','course':'Data Science'}):
    print('3 Record Inserted Successfully')

3 Record Inserted Successfully

In [20]:
# Insert into custs using executemany

if cur.executemany('INSERT INTO custs(name,course) VALUES (?,?)',[('Pranay','Web App'),('Viraj','Android')]):
    print('4 Record Inserted Successfully')

4 Record Inserted Successfully

In [21]:
db.commit()
cur.close()
db.close()

# SELECT

In [22]:
db = sqlite3.connect('MyDB')

# Get a cursor object
cur = db.cursor()

In [23]:
# Select cursor from custs
if cur.execute('SELECT name,course from custs'):
    print('Record cursor is ready')
print('------------------------------')

Record cursor is ready
------------------------------

In [24]:
# Fetch using fetchone()
record1 = cur.fetchone()
print(record1)
print('------------------------------')

('Anup', 'Python')
------------------------------

In [25]:
# Fetch using fetchall()
recordall = cur.fetchall()
for record in recordall:
    print('{0},{1}'.format(record[0],record[1]))

Swaroop,Hadoop
Vishal,Data Science
Pranay,Web App
Viraj,Android

In [26]:
db.commit()
cur.close()
db.close()

In [ ]:
### SELECT CONTINUE ###

In [12]:
import sqlite3

In [13]:
db = sqlite3.connect('MyDB')

# Get a cursor object
cur = db.cursor()

In [3]:
# Select cursor from custs
if cur.execute('SELECT name,course from custs'):
    print('Record cursor is ready')
    print('--------------------')

Record cursor is ready
--------------------

In [4]:
# Cursor object used as iterator

for record in cur:
    print('{0},{1}'.format(record[0],record[1]))

Anup,Python
Swaroop,Hadoop
Vishal,Data Science
Pranay,Web App
Viraj,Android

In [10]:
# Select with where clause

if cur.execute('SELECT name,course FROM custs WHERE course=?',('Python',)):
    print('Record cursor is ready')
    print('--------------------')

Record cursor is ready
--------------------

In [11]:
# Cursor object used as iterator

for record in cur:
    print('{0},{1}'.format(record[0],record[1]))

Anup,Python

In [14]:
db.commit()
cur.close()
db.close()

# UPDATE

In [15]:
import sqlite3

In [16]:
db = sqlite3.connect('MyDB')

# Get a cursor object
cur = db.cursor()

In [17]:
# Insert into custs
if cur.execute('UPDATE custs SET course=? WHERE name=?',('Spark','Anup')):
    print('Record updated successfully')

Record updated successfully

In [18]:
# Select with where clause
if cur.execute('SELECT name,course FROM custs WHERE name=?',('Anup',)):
    print('Record cursor is ready')
    print('--------------------')

Record cursor is ready
--------------------

In [19]:
# cursor object used as iterator
for record in cur:
    print('{0},{1}'.format(record[0],record[1]))

Anup,Spark

In [20]:
db.commit()
cur.close()
db.close()

# Delete(CRUD Operation)

In [21]:
db = sqlite3.connect('MyDB')

# Get a cursor object
cur = db.cursor()

In [22]:
# Insert into custs
if cur.execute('DELETE FROM custs WHERE name=?',('Swaroop',)):
    print('Record cursor is ready')
    print('--------------------')

Record cursor is ready
--------------------

In [23]:
# Select cursor for custs
if cur.execute('SELECT name,course FROM custs'):
    print('Record cursor is ready')
    print('--------------------')

Record cursor is ready
--------------------

In [24]:
# Cursor object used as iterator
for record in cur:
    print('{0},{1}'.format(record[0],record[1]))

Anup,Spark
Vishal,Data Science
Pranay,Web App
Viraj,Android

In [25]:
db.commit()

In [26]:

cur.close()
db.close()

In [27]:
db = sqlite3.connect('MyDB')

# Get a cursor object
cur = db.cursor()

In [28]:
# Insert into custs
if cur.execute('DELETE FROM custs WHERE name=?',('Vishal',)):
    print('Record cursor is ready')
    print('--------------------')

Record cursor is ready
--------------------

In [29]:
# Select cursor for custs
if cur.execute('SELECT name,course FROM custs'):
    print('Record cursor is ready')
    print('--------------------')

Record cursor is ready
--------------------

In [30]:
# Cursor object used as iterator
for record in cur:
    print('{0},{1}'.format(record[0],record[1]))

Anup,Spark
Pranay,Web App
Viraj,Android

In [33]:
db.rollback()

In [34]:
# Select cursor for custs
if cur.execute('SELECT name,course FROM custs'):
    print('Record cursor is ready')
    print('--------------------')

Record cursor is ready
--------------------

In [35]:
# Cursor object used as iterator
for record in cur:
    print('{0},{1}'.format(record[0],record[1]))

Anup,Spark
Vishal,Data Science
Pranay,Web App
Viraj,Android

In [36]:
db.commit()
cur.close()
db.close()

In [37]:
db = sqlite3.connect('MyDB')

# Get a cursor object
cur = db.cursor()

In [38]:
if cur.execute('DROP TABLE custs'):
    print('Table is dropped successfully!')

Table is dropped successfully!

# NEW TASK

In [39]:
import sqlite3

In [42]:
db = sqlite3.connect('TASK')

# Get a cursor object
cur = db.cursor()

In [43]:
# Creat Table

if cur.execute('CREATE TABLE number(one INTEGER,two INTEGER,three INTEGER,four INTEGER, five INTEGER)'):
    print('Table Created!')

Table Created!

In [46]:
# Insert into number

if cur.execute('INSERT INTO number(one,two,three,four,five) VALUES (?,?,?,?,?)',(1,2,3,4,5)):
    print('1 Record INserted Successfully')

1 Record INserted Successfully

In [47]:
# Insert into number

if cur.execute('INSERT INTO number(one,two,three,four,five) VALUES (?,?,?,?,?)',(2,4,6,8,10)):
    print('2 Record INserted Successfully')

2 Record INserted Successfully

In [48]:
# Insert into number

if cur.execute('INSERT INTO number(one,two,three,four,five) VALUES (?,?,?,?,?)',(3,6,9,12,15)):
    print('3 Record INserted Successfully')

3 Record INserted Successfully

In [49]:
# Insert into number

if cur.execute('INSERT INTO number(one,two,three,four,five) VALUES (?,?,?,?,?)',(4,8,12,16,20)):
    print('4 Record INserted Successfully')

4 Record INserted Successfully

In [50]:
# Insert into number

if cur.execute('INSERT INTO number(one,two,three,four,five) VALUES (?,?,?,?,?)',(5,10,15,20,25)):
    print('5 Record INserted Successfully')

5 Record INserted Successfully

In [51]:
for i in range(1,10+1,1):
    cur.execute('INSERT INTO number(one,two,three,four,five) VALUES(?,?,?,?,?)',(1*i,2*i,3*i,4*i,5*i))

In [58]:
cur.execute('SELECT * FROM number')
for i in cur:
    print(i[0],i[1],i[2],i[3],i[4])

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
6 12 18 24 30
7 14 21 28 35
8 16 24 32 40
9 18 27 36 45
10 20 30 40 50

In [59]:
db.commit()
cur.close()
db.close()