# Arithmetic Operator

#### Plus

In [1]:
a=5
b=6
c=a+b
print(c)

11

In [2]:
str='str1'+'str2'
print(str)

str1str2

#### Minus

In [3]:
c=3-2
print(c)

1

In [3]:
c=4.5-3.21
print(c)

1.29

In [4]:
type(c)

float

In [6]:
e=-5.6
print(e)

-5.6

#### Multiplication

In [7]:
4*5

20

In [8]:
3.5*4

14.0

#### Mod

In [7]:
4%3

1

In [10]:
5.76%3

2.76

#### Power

In [11]:
3**2

9

In [12]:
5.7**5

6016.920570000001

# Relational Operator

#### Less then

In [13]:
x=5
y=6
x<y

True

In [14]:
y<x

False

#### Greater then

In [15]:
x>y

False

In [16]:
y>x

True

In [17]:
z=9
x>y>z

False

In [18]:
x<y>z

False

#### Less than Equals to

In [19]:
x<=y

True

In [20]:
y=6
x<=y

True

In [21]:
z<=y

False

#### Greater than Equals to

In [22]:
x>=y

False

In [23]:
z>=y

True

#### Equals to

In [8]:
x=5
y=6
x==y

False

In [9]:
x=y
x==y

True

#### Not Equals to

In [26]:
x!=y

False

In [27]:
y!=z

True

# Logical Operators

#### OR

In [31]:
x=True
y=False
z=True
w=False

In [29]:
x or y

True

In [32]:
y or w

False

In [33]:
x or y or z

True

#### AND

In [35]:
x and y

False

In [36]:
x and z

True

In [37]:
x and y and z

False

#### NOT

In [38]:
not x

False

In [39]:
not y

True

In [40]:
x not y

SyntaxError: invalid syntax (<ipython-input-40-f8c7fa3558f5>, line 1)

# USER INPUT OUTPUT

In [1]:
var1=input('Enter your name :')

Enter your name :ashish

In [11]:
print(var1)

ashish

In [12]:
print('hello ' + var1)

hello ashish

In [13]:
print('hello ' , var1)

hello  ashish

In [46]:
age=input('Enter your age :')

Enter your age :21

In [47]:
print(age)

21

In [54]:
age_int=int(age)

In [56]:
type(age)

str

In [60]:
new_age=age_int+5
print('New age is',new_age)

New age is 26

In [1]:
age=int(input('Enter your age :'))
print(age)
print(type(age))

Enter your age :21
21
<class 'int'>

# Control Structure

### If ....Else....elif

In [2]:
a=4
if a==5:
    print("Condition is true")
    print("sample statement")

In [3]:
a=4
if a==5:
    print("Condition is true")
print("sample statement")

sample statement

In [4]:
a=1
if a==0:
    print('I am in If block')
else:
    print('I am in else block')
    print('Another statement')

I am in else block
Another statement

In [6]:
a=1
if a==0:
    print('I am in If block')
else:
    print('I am in else block')
    print('Another statement')

I am in else block
Another statement

In [8]:
var=45
if(var<200 and var>=50):
    print('Expression value is less then 200 &greater then 50')
    if var == 150:
        print('Which is 150')
    elif var == 100:
        print('Which is 100')
    elif var == 50:
        print('Which is 50')
elif var < 50:
    print('Expression value is less then 50')
else:
    print('Could not find true expression')

print('Good Bye!')

Expression value is less then 50
Good Bye!

In [10]:
var=60
if(var<200 and var>=50):
    print('Expression value is less then 200 & greater then 50')
    if var == 150:
        print('Which is 150')
    elif var == 100:
        print('Which is 100')
    elif var == 50:
        print('Which is 50')
elif var < 50:
    print('Expression value is less then 50')
else:
    print('Could not find true expression')

print('Good Bye!')

Expression value is less then 200 & greater then 50
Good Bye!

In [12]:
# WAP to check num is even or odd
# WAP to check num is magical or not(num is magical if it is divided by 3&5 not with 10)

In [13]:
#Even or Odd
var=int(input('Enter a number :'))
if var%2==0:
    print('Even number')
else:
    print('Odd number')

Enter a number :23
Odd number

In [17]:
#Magical Number
var = int(input('Enter a number :'))
if (var%3==0 and var%5==0 and var%10!=0):
    print('Magical number')
else:
    print('Not a magical number')

Enter a number :45
Magical number

### for loop

In [1]:
n=11
for i in range(0,n,1):
    print(i)
    print('Raipur')

0
Raipur
1
Raipur
2
Raipur
3
Raipur
4
Raipur
5
Raipur
6
Raipur
7
Raipur
8
Raipur
9
Raipur
10
Raipur

In [6]:
for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [7]:
for i in range(0,101,2):
    print(i , end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [8]:
for i in range(0,101,2):
    print(i , end=",")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

### While Loop

In [10]:
n=5
i=1
while(i<=n):
    print(i)
    i=i+1

1
2
3
4
5

In [13]:
for i in range(1,51,1):
    print(i,'=',i**2)

1 = 1
2 = 4
3 = 9
4 = 16
5 = 25
6 = 36
7 = 49
8 = 64
9 = 81
10 = 100
11 = 121
12 = 144
13 = 169
14 = 196
15 = 225
16 = 256
17 = 289
18 = 324
19 = 361
20 = 400
21 = 441
22 = 484
23 = 529
24 = 576
25 = 625
26 = 676
27 = 729
28 = 784
29 = 841
30 = 900
31 = 961
32 = 1024
33 = 1089
34 = 1156
35 = 1225
36 = 1296
37 = 1369
38 = 1444
39 = 1521
40 = 1600
41 = 1681
42 = 1764
43 = 1849
44 = 1936
45 = 2025
46 = 2116
47 = 2209
48 = 2304
49 = 2401
50 = 2500

### Break

In [14]:
for letter in 'Python':
    if letter == 'h':
        break
    print('Current Letter:',letter)
print('Out of For')

Current Letter: P
Current Letter: y
Current Letter: t
Out of For

### Continue

In [16]:
for letter in 'Django':
    if letter == 'D':
        continue
    print('Current Letter:',letter)

Current Letter: j
Current Letter: a
Current Letter: n
Current Letter: g
Current Letter: o

In [19]:
for letter in 'abcdefghi':
    if (letter=='a' or letter=='e' or letter=='i' or letter=='o' or letter=='u'):
        continue
    print(letter)

b
c
d
f
g
h

In [21]:
ashish=['a','e','i','o','u']
for letter in 'abcdefghi':
    if letter in ashish:
        continue
    print(letter)

b
c
d
f
g
h