# Functions

### Defining a function

In [11]:
def say_hello(name,sname):
    print('Hello ' + name + ' ' +sname)

In [12]:
say_hello('ashish','patel')

Hello ashish patel

### Local variable and global variable in function

In [13]:
x = 50

def func(x):
    print('x is',x)
    x = 2
    print('Changed local x to',x)
    
func(x)
print('x is still',x)

x is 50
Changed local x to 2
x is still 50

### The global statement

In [14]:
x = 50

def func():
    global x
    print('x is',x)
    x = 2
    print('Changed global x to',x)
    
func()
print('Value of x is',x)
x = 3
print('Now value of x is',x)

x is 50
Changed global x to 2
Value of x is 2
Now value of x is 3

### Default Argument Values

In [15]:
# always give default values from right hand side in the parameter

In [16]:
def say(message,times=3):
    print(message*times)

In [17]:
say('Hello')

HelloHelloHello

In [18]:
say('World',5)

WorldWorldWorldWorldWorld

# Keyword arguments

In [20]:
def func(a, b=5, c=10):
    print('a is',a,'and b is',b,'and c is',c)

In [21]:
func(3,7)

a is 3 and b is 7 and c is 10

In [22]:
func(25,c=24)

a is 25 and b is 5 and c is 24

In [23]:
func(c=50,a=100)

a is 100 and b is 5 and c is 50

### VarArgs parameters

In [24]:
 # * will creat a tuple and ** will creat dictionary for you

In [32]:
def total(initial=5,*numbers,**keywords):
    count = initial
    print(count)
    print(numbers)
    for number in numbers:
        count+=number
    print(keywords)
    for key in keywords:
        count+=keywords[key]
    return(count)

In [33]:
print(total(10,1,2,3,veg=50,fruits=100))

10
(1, 2, 3)
{'veg': 50, 'fruits': 100}
166

In [34]:
print(total(5,1,2,3,4,5,veg=50,fruits=100,bags=10))

5
(1, 2, 3, 4, 5)
{'veg': 50, 'fruits': 100, 'bags': 10}
180

In [35]:
print(total(veg=50,fruits=100,bags=10))

5
()
{'veg': 50, 'fruits': 100, 'bags': 10}
165

In [36]:
print(total())

5
()
{}
5

### The return statement

In [39]:
def maximum(x,y):
    if x>y:
        return x
    elif x==y:
        return 'The numbers are equal'
    else:
        return y

In [42]:
c = maximum(2,3)
print(c)
print(type(c))

3
<class 'int'>

### lambda,map and filter functions

In [44]:
# SYNTEX-->lambda arguments:expression
# lambda returns a function object

In [45]:
add = lambda x,y : x + y     # here add is function object
print(type(add))

<class 'function'>

In [46]:
print(add(2,5))

7

In [47]:
print(add(2,678))

680

In [48]:
# STNTEX--> map(function_object,iterable1,iterable2,......)

In [49]:
def multiply2(x):
    return x*2
x = map(multiply2,[1,2,3,4])       # here x is function object
print(x)
print(type(x))

<map object at 0x000001A69BD5F390>
<class 'map'>

In [50]:
print(list(x))

[2, 4, 6, 8]

In [53]:
x = map(lambda x:x*2, [1,2,3,4])
print(list(x))

[2, 4, 6, 8]

### Iterating over the dictionary using map and lambda

In [58]:


list_a = [{'name':'python','point':10},{'name':'java','point':8}]
print(list_a)

[{'name': 'python', 'point': 10}, {'name': 'java', 'point': 8}]

In [59]:
list(map(lambda x : x['name'],list_a))

['python', 'java']

In [60]:
list(map(lambda x : x['point']*10,list_a))

[100, 80]

In [61]:
list(map(lambda x : x['name'] == 'python',list_a))

[True, False]

### Multiple iterables to the map function

In [62]:
list_1 = [1,2,3]
list_2 = [10,20,30]

list(map(lambda x,y:x+y, list_1,list_2))

[11, 22, 33]

 ## Filter function

In [64]:
# SYNTEX--> filter(function_object,iterable)
# it can have only one iterable
# Filter only returns True value
# map return only boolean value whereas filter returns only value

#### Even number using filter function

In [65]:
a = [1,2,3,4,5,6]
list(filter(lambda x : x%2==0,a))

[2, 4, 6]

#### Filter list of dicts

In [66]:
list_a = [{'name':'python','point':10},{'name':'java','point':8}]
list(filter(lambda x : x['name'] == 'python',list_a))

[{'name': 'python', 'point': 10}]

## DocStrings

In [70]:
def print_max(x,y):
    '''Prints the maximum of two numbers.
    The two values must be integers.'''
    # convert to integer if possible
    x=int(x)
    y=int(y)
    
    if x>y:
        print(x,'is maximum')
    else:
        print(y,'is maximum')

In [68]:
print_max(3,5)

5 is maximum

In [71]:
print(print_max.__doc__)

Prints the maximum of two numbers.
    The two values must be integers.