# DATA MANIPULATION WITH PYTHON(PANDAS)

## Data Structures
### Series
### DataFrame
### Panel

### Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creat an Empty Series
s = pd.Series()
print(s)
print(type(s))

Series([], dtype: float64)
<class 'pandas.core.series.Series'>

In [3]:
data=np.array(['a','b','c','d'])
print(data)

['a' 'b' 'c' 'd']

In [4]:
# Creat a Series from ndarray
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [5]:
#  Creat a Series from ndarray with index parameter
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [6]:
data = {'a':0,'b':1,'c':2}
print(data)

{'a': 0, 'b': 1, 'c': 2}

In [7]:
# creat a Series from dict
s = pd.Series(data,index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [9]:
# creat a Series from scalar
s = pd.Series(5,index=[0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [10]:
#-------------------Accessing Data from Series with Position------------------------

s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
# retrieve the first element
print(s[0])

1

In [12]:
# retrieve the first three elements
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [13]:
# retrieve the last three elements
print(s[-3:])

c    3
d    4
e    5
dtype: int64

In [15]:
#----------------------Retrieve Data Using Label Index)------------------------
s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [16]:
# retrieve a single element
print(s['a'])

1

In [17]:
# retrieve multiple elements
print(s[['a','c','d']])

a    1
c    3
d    4
dtype: int64

In [18]:
# retrieve non existant element
print(s['f'])

KeyError: 'f'

### DataFrame

In [19]:
# Create an Empty DataFrame
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [20]:
#------------------Create a DataFrame from Lists-----------------------
data=[11,12,13,14,15]
df=pd.DataFrame(data)
print(df)

    0
0  11
1  12
2  13
3  14
4  15

In [21]:
data=[['Alok',10],['Bhusan',12],['Chitra',13]]

In [22]:
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alok   10
1  Bhusan   12
2  Chitra   13

In [23]:
df=pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alok  10.0
1  Bhusan  12.0
2  Chitra  13.0

In [24]:
#----------------------Create a DataFrame from Dict of Lists-----------------------

data={'Name':['Ashish','Debu','Sahbaaz','Sanju'],'Age':[21,22,23,24]}

In [25]:
df=pd.DataFrame(data)
print(df)

   Age     Name
0   21   Ashish
1   22     Debu
2   23  Sahbaaz
3   24    Sanju

In [26]:
df=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

       Age     Name
rank1   21   Ashish
rank2   22     Debu
rank3   23  Sahbaaz
rank4   24    Sanju

In [28]:
# --------------------Create a DataFrame from List of Dicts-----------------

data=[{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [29]:
df = pd.DataFrame(data,index=['first','second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [31]:
#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data,index=['first','second'],columns=['a','b'])
print(df1)

        a   b
first   1   2
second  5  10

In [32]:
#With two column indices with one index with other name
df2 = pd.DataFrame(data,index=['first','second'],columns=['a','b1'])
print(df2)

        a  b1
first   1 NaN
second  5 NaN

In [46]:
#------------------Create a DataFrame from Dict of Series----------------------

d = {'one':pd.Series([1,2,3],index=['a','b','c']), 'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [35]:
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [36]:
#-----------Column Addition-------------------

# Adding a new column to an existing DataFrame object with
# column label by passing new series

print('Adding a new column by passing as Series:')
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [37]:
print('Adding a new column using the existing columns in DataFrame:')
df['four']=df['one']+df['three']
print(df)

Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [38]:
#-------------Column Deletion--------------

#Using del function
print('Deleting the first column using DEL function:')
del df['one']
print(df)

Deleting the first column using DEL function:
   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN

In [47]:
#Using pop function
print('Deleting another column using POP function:')
x = df.pop('two')

Deleting another column using POP function:

In [40]:
print(x)

a    1
b    2
c    3
d    4
Name: two, dtype: int64

In [41]:
print(df)

   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

In [48]:
#------------------Row Selection, Addition and Deletion----------------------

d = {'one':pd.Series([1,2,3],index=['a','b','c']), 'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [49]:
#---------Selection by Label------------

print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [50]:
#-----------Selection by integer Location--------------

print(df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [51]:
#---------------Slice Rows-------------------

print(df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [53]:
a=df.loc['b']
print(type(a))

<class 'pandas.core.series.Series'>

In [54]:
#------------------Addition of Rows-----------------------

df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2=pd.DataFrame([[5,6],[7,8]],columns=['a','b'])

In [55]:
print(df)

   a  b
0  1  2
1  3  4

In [56]:
print(df2)

   a  b
0  5  6
1  7  8

In [57]:
df3 = df.append(df2)
print(df3)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [58]:
df4 = df.append(df2,ignore_index = True)
print(df4)

   a  b
0  1  2
1  3  4
2  5  6
3  7  8

In [70]:
#---------------Deletion of Rows--------------------

df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])

In [71]:
print(df)

   a  b
0  1  2
1  3  4

In [72]:
# Drop Rows with label 0
df = df.drop(0)
print(df)

   a  b
1  3  4