# GroupBy_Merge

In [1]:
#########################Concat##################################

import numpy as np
import pandas as pd

In [5]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3'],'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']},index=[0,1,2,3])
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [6]:
df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],'B':['B4','B5','B6','B7'],'C':['C4','C5','C6','C7'],'D':['D4','D5','D6','D7']},index=[1,2,3,4])
df2

    A   B   C   D
1  A4  B4  C4  D4
2  A5  B5  C5  D5
3  A6  B6  C6  D6
4  A7  B7  C7  D7

In [7]:
df3 = pd.DataFrame({'A':['A8','A9','A10','A11'],'B':['B8','B9','B10','B11'],'C':['C8','C9','C10','C11'],'D':['D8','D9','D10','D11']},index=[1,2,3,4])
df3

     A    B    C    D
1   A8   B8   C8   D8
2   A9   B9   C9   D9
3  A10  B10  C10  D10
4  A11  B11  C11  D11

In [8]:
# pd.concat and pass in a list of DataFrame to concatenate together
print(pd.concat([df1,df2,df3],axis=0)) #axis=0 bydefault

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
1   A4   B4   C4   D4
2   A5   B5   C5   D5
3   A6   B6   C6   D6
4   A7   B7   C7   D7
1   A8   B8   C8   D8
2   A9   B9   C9   D9
3  A10  B10  C10  D10
4  A11  B11  C11  D11

In [9]:
print(pd.concat([df1,df2,df3],axis=0,ignore_index=True))

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [12]:
print(pd.concat([df1,df2,df3],axis=1,ignore_index=True))

    0    1    2    3    4    5    6    7    8    9    10   11
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1   A4   B4   C4   D4   A8   B8   C8   D8
2   A2   B2   C2   D2   A5   B5   C5   D5   A9   B9   C9   D9
3   A3   B3   C3   D3   A6   B6   C6   D6  A10  B10  C10  D10
4  NaN  NaN  NaN  NaN   A7   B7   C7   D7  A11  B11  C11  D11

In [13]:
print(pd.concat([df1,df2,df3],axis=1))

     A    B    C    D    A    B    C    D    A    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1   A4   B4   C4   D4   A8   B8   C8   D8
2   A2   B2   C2   D2   A5   B5   C5   D5   A9   B9   C9   D9
3   A3   B3   C3   D3   A6   B6   C6   D6  A10  B10  C10  D10
4  NaN  NaN  NaN  NaN   A7   B7   C7   D7  A11  B11  C11  D11

In [14]:
#############################Merge#######################################

left = pd.DataFrame({'key':['K0','K1','K2','K3','K4','K5'],'A':['A0','A1','A2','A3','A4','A5'],'B':['B0','B1','B2','B3','B4','B5']})

right = pd.DataFrame({'key':['K0','K1','K2','K3','K6','K7'],'C':['C0','C1','C2','C3','C4','C5'],'D':['D0','D1','D2','D3','D4','D5']})

In [15]:
print(left)

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3
4  A4  B4  K4
5  A5  B5  K5

In [16]:
print(right)

    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  K3
4  C4  D4  K6
5  C5  D5  K7

In [17]:
print(pd.merge(left,right,how='inner',on='key'))

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

In [18]:
print(pd.merge(left,right,how='left',on='key'))

    A   B key    C    D
0  A0  B0  K0   C0   D0
1  A1  B1  K1   C1   D1
2  A2  B2  K2   C2   D2
3  A3  B3  K3   C3   D3
4  A4  B4  K4  NaN  NaN
5  A5  B5  K5  NaN  NaN

In [19]:
print(pd.merge(left,right,how='right',on='key'))

     A    B key   C   D
0   A0   B0  K0  C0  D0
1   A1   B1  K1  C1  D1
2   A2   B2  K2  C2  D2
3   A3   B3  K3  C3  D3
4  NaN  NaN  K6  C4  D4
5  NaN  NaN  K7  C5  D5

In [20]:
print(pd.merge(left,right,how='outer',on='key'))

     A    B key    C    D
0   A0   B0  K0   C0   D0
1   A1   B1  K1   C1   D1
2   A2   B2  K2   C2   D2
3   A3   B3  K3   C3   D3
4   A4   B4  K4  NaN  NaN
5   A5   B5  K5  NaN  NaN
6  NaN  NaN  K6   C4   D4
7  NaN  NaN  K7   C5   D5

In [22]:
#############################Merge#######################################

df_l = pd.DataFrame({'key1':['K0','K0','K1','K2'],'key2':['K0','K1','K0','K1'],'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3']})

df_r = pd.DataFrame({'key1':['K0','K1','K1','K2'],'key2':['K0','K0','K0','K0'],'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']})

In [25]:
df_l

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1

In [26]:
df_r

    C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K0
2  C2  D2   K1   K0
3  C3  D3   K2   K0

In [27]:
pd.merge(df_l,df_r,on=['key1','key2']) # Default join is inner

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

In [28]:
pd.merge(df_l,df_r,on=['key1','key2'],how='outer')

     A    B key1 key2    C    D
0   A0   B0   K0   K0   C0   D0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   C1   D1
3   A2   B2   K1   K0   C2   D2
4   A3   B3   K2   K1  NaN  NaN
5  NaN  NaN   K2   K0   C3   D3

In [29]:
pd.merge(df_l,df_r,on=['key1'],how='outer')

    A   B key1 key2_x   C   D key2_y
0  A0  B0   K0     K0  C0  D0     K0
1  A1  B1   K0     K1  C0  D0     K0
2  A2  B2   K1     K0  C1  D1     K0
3  A2  B2   K1     K0  C2  D2     K0
4  A3  B3   K2     K1  C3  D3     K0

In [31]:
pd.merge(df_l,df_r,on=['key1'],how='outer',suffixes=['_df_l','_df_r'])

    A   B key1 key2_df_l   C   D key2_df_r
0  A0  B0   K0        K0  C0  D0        K0
1  A1  B1   K0        K1  C0  D0        K0
2  A2  B2   K1        K0  C1  D1        K0
3  A2  B2   K1        K0  C2  D2        K0
4  A3  B3   K2        K1  C3  D3        K0